<template name="joinForum">
  	<div class="col-md-10 col-md-offset-4 container">
      <div class="row" >
        <div class="col-sm-4">
          <div class="well">
              <div class="text-center">
                <h3>Join Forum</h3>
                <form class="viewForum">
                  <b>Enter Easy ID:</b><br />
                  <input type="text" id="easyid" class="form-control"><br />
                  <button type="submit" class="btn btn-primary" id="forumview">Submit</button>
                </form>
              </div>
            </div>
        </div>
      </div>
    </div>
</template>