<template name="appLoading">
<!--   <head>
    <script type="text/javascript" src="../../lib/spin.js"></script>
  </head>
  <div id="Load" >
  </div> 

    <script type="text/javascript">
      $(document).ready(function () {
        var opts = {
            lines: 12 // The number of lines to draw
          , length: 0 // The length of each line
          , width: 14 // The line thickness
          , radius: 35 // The radius of the inner circle
          , scale: 1 // Scales overall size of the spinner
          , corners: 1 // Corner roundness (0..1)
          , color: '#B2B2B2' // #rgb or #rrggbb or array of colors
          , opacity: 0.25 // Opacity of the lines
          , rotate: 0 // The rotation offset
          , direction: 1 // 1: clockwise, -1: counterclockwise
          , speed: 1 // Rounds per second
          , trail: 25 // Afterglow percentage
          , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
          , zIndex: 2e9 // The z-index (defaults to 2000000000)
          , className: 'spinner' // The CSS class to assign to the spinner
          , top: '50%' // Top position relative to parent
          , left: '50%' // Left position relative to parent
          , shadow: false // Whether to render a shadow
          , hwaccel: false // Whether to use hardware acceleration
          , position: 'absolute' // Element positioning
        };
        var target = document.getElementById("Load");
        var spinner = new Spinner(opts).spin(target);
      });
    </script>
  <style>
    div {
      height: 10px;
      width: 10px;
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
  	}
  </style>
-->
  <h1> Loading...</h1>
</template>